.userPageContainer {
    margin-top: 30px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 16px;
    width: 80vw;
    /* height: 500px; */
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 4fr; */
}

.userDataContainer {
    height: 100px;
}

.userPageHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.closePageContainer {
    margin-right: 50px;
    margin-top: 20px;
}

.userInfo{
    /* border: 1px solid red; */
    border-radius: 12px;
    background-color: rgba(243, 243, 243, 0.2);
    box-shadow: 4px 4px 4px rgb(236, 236, 236);
    /* margin: auto; */
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    max-width: 400px;
    /* height: 100px; */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.userIcon{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background: rgba(209, 209, 209, 0.2);
    margin-left: 0px;
    margin-bottom: 0;

    /* margin: auto; */
}

.userIcon:hover{
    background: rgba(209, 209, 209, 0.7);
    transition: 0.2s;
}

.userInfoText{
    margin: auto;
    margin-left: 30px;
    margin-top: 0;
    text-align: left;
}

.userInfoText p {
    margin: 0;
}

.postsContainer{
    margin-top: 30px;
    margin-left: 30px;
    margin: 30px 50px;
}

.postsContainerTitle {
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: left;
}


.closePageButton {
    border: none;
    padding: 5px 10px;
    /* margin-top: 10px; */
    border-radius: 5px;
    background-color: rgb(240, 240, 240, 0.5);

}

.closePageButton:hover {
    margin-top: -2px;
    background-color: rgb(240, 240, 240, 0.2);
    box-shadow: 2px 2px 2px rgb(222, 222, 222);

    transition: 0.2s;
}

@media screen and (max-width: 700px) {
    .userPageContainer {
        margin: 0;
        width: 100%;
        
    }
    .closePageContainer {
        margin: 0;
        position: absolute;
        right: 0;
    }
    .userInfo {
        margin-top: 40px;
    }

    .postsContainer {
        margin: 20px 10px;
    }
}