.hamburgerButton {
    margin-left: 50px;
    cursor: pointer;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.hamburgerButton:hover {
    transition: 0.2s;
    background-color: rgb(235, 235, 235);
}

.navLink {
    text-decoration: none;
    margin-bottom: 25px;
}

.siteTitle {
    margin-left: 30px;
    cursor: pointer;
}